.productdisplay {
  display: flex;
  height: 100vh;
  margin: 0px 170px;
  }
.productdisplay-left {
  display: flex;
  gap: 17px;
}
.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}
.productdisplay-img-list img {
  height: 163px;
}
.productdisplay-main-img {
  width: 586px;
  height: 700px;
}
.productdisplay-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}
.productdisplay-right h1 {
  font-size: 40px;
  font-weight: 700;
  color: #3d3d3d;
} 
.productdisplay-right-stars{
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
.productdisplay-right-prices{
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.productdisplay-right-price-old{
  color: #818181;
  text-decoration: line-through;
}
.productdisplay-right-price-new{
  color: #ff4141;
}
.buttons-box button{
  margin-top: 55px;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay-img-item {
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}

.productdisplay-img-item.selected {
  border-color: #ff4141; 
}
.buttons-box{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media(max-width:1650px){
  .productdisplay{
    transform: scale(0.9);
    margin: 0px;
  }
}
@media(max-width:1240px){
  .productdisplay{
    transform: scale(0.7);
    margin: 0px;
    height: 60vh;
  }
}
@media(max-width:1140px){
  .productdisplay{
    transform: scale(0.6);
    margin: 0px;
    height: 50vh;
  }
}
@media(max-width:1043px){
  .productdisplay{
    transform: scale(0.5);
    margin: 0px;
    height: 45vh;
  }
}
@media(max-width:920px){
  .productdisplay{
    transform: scale(0.4);
    margin: 0px;
    height: 40vh;
  }
}
@media(max-width:780px){
  .productdisplay{
    transform: scale(0.3);
    margin: 0px;
  }
}