.add-product{
    margin: 0;
    padding: 0;
}
.carousel-image {
    height: 400px;
    width: 400px;
}
.carousel-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.modal-close-button {
    position: absolute;
    right: 5px;
    top: 5px;
}