.quantity-stepper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 62px;
    height: 40px;
    border: 2px soild #ebebeb;
    border-radius: 7px;
    background: white;
}
.quantity-stepper span{
    border: 1px solid #8a86866c;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.quantity-stepper button{
    background: #24831a;
}
@media(max-width:1280px){
    .quantity-stepper{
        transform: scale(0.8);
    }
    
}
@media(max-width:1024px){
    .quantity-stepper{
        transform: scale(0.7);
    }
    
}
@media(max-width:800px){
    .quantity-stepper{
        transform: scale(0.6);
    }
    
}
@media(max-width:400px){
    .quantity-stepper{
        transform: scale(0.5);
    }
    
}