.verification-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.verification-box-inner {
    position: absolute;
    width: 350px;
    height: 400px;
    background: #d4fbcb;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.password-reset-input-box {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-content: center;
    align-items: center;
}
.password-reset-box h1{
    position: absolute;
    top: -2%;
}
.password-reset-box {
    position: absolute;
    width: 350px;
    height: 450px;
    background: #d4fbcb;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.password-reset-box p {
    margin-top: auto;

}
.password-reset-box .resetButtonBox {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
}
.password-reset-box input {
    align-self: auto;
    justify-self: auto;
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.verification-box-inner h1{
    position: absolute;
    top: 0;
    margin: 5%;
    
}
.verification-box-inner h2{
    position: absolute;
    top: 0;
    margin: 5%;
}
.verification-box-inner p {
    width: 75%;
    text-align: center;
}
.verification-box-inner input {
    width: 50%;
    height: 40px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    outline: none;
    font-size: 150%;
    text-align: center;
    letter-spacing: 4pt;
}
.verification-box-inner .emailreset {
    width: 80%;
    height: 40px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    outline: none;
    font-size: 120%;
    text-align: center;
    letter-spacing: normal;
}
.verification-box-inner .handleVerification {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.verification-box-inner .cancelVerification {
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.loginsignup{
    width: 100%;
    height: 80vh;
    padding-top: 100px;
}
.loginsignup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 580px;
    background: #d4fbcb;
    margin: auto;
    padding: 10px 60px;
    border-radius: 75px;
}
.loginsignup-container h1{
    margin: 20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.loginsignup-fields input{
    border-radius: 75px;
    height: 52px;
    width: 500px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 14px;
}
.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: #24831a;
    margin-top: 30px;
    border-radius: 75px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}