.modal-backdrop {
    position: fixed; /* 或 absolute，取决于具体需求 */
    top: 0;
    left: 0;
    width: 100vw; /* 视窗宽度 */
    height: 100vh; /* 视窗高度 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;  
    overflow-y: auto;  
}

.modal-content {
    position: relative;
    max-width: 800px;
    width: 100%;
    max-height: 90%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: scroll;
}

@media (max-width: 1000px) {
    .modal-content {
        width: 85%;
    }
}
