.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.user-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #d4fbcb;
    width:80%;
    
  }
  
  .user-details h2,
  .user-details h3 {
    color: #333;
  }
  
  .user-details div {
    margin-bottom: 10px;
  }
  
  .user-details ul {
    list-style: none;
    padding: 0;
  }
  
  .user-details li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .user-details li:hover {
    background-color: #eee;
  }
  
  .user-details table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff
  }
  
  .user-details th, .user-details td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-details th {
    background-color: #f4f4f4;
  }
  
  .user-details tr:hover {
    background-color: #f0f0f0;
  }
  
  .user-details button {
    cursor: pointer;
    user-select: none;

  }
  .user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
.contact-link {
 
   
  color: white; /* White text */
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none;  
   
 
 
}

.contact-link:hover {
  font-weight: bolder; /* Darker green background on hover */
}




.purchase-history-button{
  margin-top: 30px;
}
.password-reset{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.change-password{
  margin-bottom: 15px;
}
.password-reset input{
  height: 20px;
  border-radius: 20px;
  border: solid 1px;
  padding-left: 5px;
}