/* div {
    border: 1px solid;
} */
.hero{
    height: 100vh;
    background: #d4fbcb;
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 200px;
    line-height: 1.1;
}
.hero-left h2{
    color: #4CAF50;
    font-size: 80px;
    font-weight: 700;
    
}
.hero-left p{
    color:#4CAF50;
    font-size: 20px;
    font-weight: 600;
}
.hero-hand-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 75px;
    color: #4CAF50;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 200px;
}
.hero-right p{
    margin-left: 10px;
    color: #ff4141;
    font-size: larger;
}
.coconut-burn img:hover{
    cursor: url('../Assets/fire-hover.png'), auto;
}

@keyframes burn {
    0% {
        filter: brightness(100%);
    }
    25% {
        filter: brightness(150%) hue-rotate(-50deg) saturate(500%);
    }
    50% {
        filter: brightness(200%) sepia(1) hue-rotate(-50deg) saturate(500%);
    }
    75% {
        filter: brightness(150%) hue-rotate(-50deg) saturate(500%);
    }
    100% {
        filter: brightness(100%);
    }
}

.coconut-burn img.burn {
    animation: burn 5s linear;
}

@media(max-width:1280px){
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2{
        font-size: 60px;
    }
    .hero-hand-icon img{
        width: 80px;
    }
}
@media(max-width:800px){
    .hero-left{
        padding-left: 30px;
    }
    .hero-left h2{
        font-size: 40px;
    }
    .hero-left p{
        font-size: 15px;
    }
    .hero-hand-icon img{
        width: 50px;
    }
    .hero-latest-btn{
        width: 210px;
        font-size: 15px;
    }
    .hero-latest-btn img{
        width: 40px;
    }
}
@media(max-width:600px){
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 11px;
    }
    .coconut-burn{
        transform: scale(0.6);
    }
    .hero-latest-btn{
        width: 110px;
        font-size: 11px;
    }
    .hero-latest-btn img{
        width: 20px;
    }
}